@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:brown" class="display-4">Welcome To Airline </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <img src="https://www.rd.com/wp-content/uploads/2020/01/GettyImages-1131335393-e1580493890249-scaled.jpg?resize=768,513" width="550">
    <img src="https://previews.123rf.com/images/olechkaolia/olechkaolia1607/olechkaolia160700024/60384779-flying-airplane-with-happy-journey-header-wishes-for-a-good-trip-concept-for-travel-company-banner-p.jpg" width="550">
</div>
