
@{
    ViewData["Title"] = "End";
}

<div class="text-center">
    <h1 style="color:darkblue" align="center"><b>Thankyou For Booking !!! HAPPY JOURNEY </b></h1>
</div>
<form asp-controller="Home" asp-action="Index">
    <div class="form-group">
        <input type="submit" value="Menu" class=" btn btn-primary float-left" />
    </div>
</form>

